<nav class="navbar navbar-expand-lg bg-light">
    <div class="col-md-2">
        <a class="navbar-brand" href="{{ path('post_index') }}">
            <img src="{{ asset('images/allweshare-logo.png') }}" class="img-fluid"width="166" height="166">
        </a>
    </div>
    <div class="collapse navbar-collapse">

        <div class="form-inline col-md-5 offset-md-7">
            <ul class="navbar-nav mr-auto align-center">

                {% if( app.user ) %}

                    <li class="nav-item" id='notif'>
                        <a href="#"class="nav-link" style="color: black;"><i class="fas fa-bell fa-lg"></i></a>
                    </li>
                    &nbsp;
                {% endif %}

                {% if(app.user) %}
                    <li class="nav-item">
                        <a  class="nav-link {{ ( app.request.attributes.get('_route') == 'post_index' ) ? 'active' }}" href="{{ path('post_index') }}">What's new ?</a>
                    </li>

                    <li>
                        <div class="dropdown">
                            <a class="btn nav-link u-c-b dropdown-toggle {{ ( app.request.attributes.get('_route') == 'user_account') ? 'active' }}"
                               id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="btn nav-link u-c-b" href="{{ path('user_account') }}">My profile</a>
                                <a class="btn nav-link u-c-b" href="#">My groups</a>
                            </div>
                        </div>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <div class="dropdown">
                                <a class="btn nav-link primary-color dropdown-toggle {{ ( app.request.attributes.get('_route') == 'back_user_index') ? 'active' }}"
                                   id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="nav-link primary-color" href="{{ path('admin_user_index') }} ">Users</a>
                                    <a class="nav-link primary-color" href="{{ path('admin_post_index') }} ">Posts</a>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link primary-color" href="{{ path('logout') }} ">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {{ ( app.request.attributes.get('_route') == 'app_front_security_login') ? 'active' }}" href="{{ path('app_front_security_login') }} ">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link primary-color {{ ( app.request.attributes.get('_route') == 'app_front_security_registration') ? 'active' }}" href="{{ path('app_front_security_registration') }} ">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>