{% extends 'base.html.twig' %}

{% block title %}Password Forgotten{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">

            <div class="subscribe_form">

                {{ form_start(formPwd) }}

                <div class="form-group" >
                    {{ form_row(formPwd.email) }}
                </div>

                <div class="form-group" >
                    {{ form_row(formPwd.tochangepassword.first) }}
                </div>

                <div class="form-group" >
                    {{ form_row(formPwd.tochangepassword.second) }}
                </div>

                <button class="btn button secondary float-right">{{ button_label|default('Change Password') }}</button>
                {{ form_end(formPwd) }}
            </div>

        </div>
    </div>
{% endblock %}


