{% extends 'base.html.twig' %}


{% block title %}Login !{% endblock %}

{% block body %}
    <div class="row">
        <div class="container-fluid">
            <div class="login-box col-md-6 col-lg-6 col-xs-10">

                <div class="box-login-content">
                    <div class="buttons-login col-md-10 col-lg-10">
                        <a class="btn btn-outline-primary col-lg-6 col-md-6 col-xs-6 btns-login active-login" id="_login">Log In</a>
                        <a class="btn col-lg-6 col-md-6 col-xs-6 btns-login btn-login-right inactive-login" id="_signin">Sign In</a>

                    </div>
                    <div class="tab-content">

                        <form method="post" class="form-login col-md-10 col-lg-10" id="login">
                            <div class="form-group">
                                <label for="inputEmail" class="sr-only">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email *" required autofocus>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password *" required>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="signIn-btn col-lg-5 col-md-5 col-xs-6">
                                <button type="submit" class="btn btn-allWeShare col-lg-12 col-md-12 col-xs-12">
                                    Sign In
                                </button>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    {% if error %}
                                        <div class="error-content">
                                            <div class="alert-content">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class="text-center">
                                <a href="{{ path('app_front_security_forgot_password') }}" class="forgotPwd">Forgotten password ?</a>
                            </div>
                        </form>


                    </div>

                </div>

            </div>

            <img src="{{ asset("/images/share_icon.svg") }}" class="svg-login">
        </div>
    </div>


    <script>

        $('.buttons-login a').on('click load', function (e) {

            $(this).addClass('active-login');
            $(this).removeClass('inactive-login');
            $(this).siblings().removeClass('active-login');
            $(this).siblings().addClass('inactive-login');


            target = '#'+ $(this).attr('id').slice(1);

            console.log( target );
            if( target === '#signin' ){
                $.ajax({

                    url : "/register" ,
                    success : function(data) {


                        if( $('#signin') !== undefined ){
                            $("#signin").remove();
                            //console.log($("signin")) ;
                        }
                        $('.tab-content').append(data);
                        $('.tab-content > form').not(target).hide();

                        $(target).fadeIn(600);
                    }
                });
            }
            else{
                $('.tab-content > form').not(target).hide();

                $(target).fadeIn(600);
            }
        });

        $('.buttons-login').find('a').on('keyup blur focus', function (e) {

            var $this = $(this),
                label = $this.prev('label');

            if (e.type === 'keyup') {
                if ($this.val() === '') {
                    label.removeClass('active');
                } else {
                    label.addClass('active ');
                }
            } else if (e.type === 'blur') {
                if( $this.val() === '' ) {
                    label.removeClass('active ');
                } else {
                    label.removeClass('');
                }
            }

        });
    </script>


{% endblock %}
