{{ form_start(form, {attr: {class: 'form-login col-md-10 col-lg-10', id: 'signin', action: '/register'} } ) }}
    <div class="">
        <div class="form-group col-md-6 col-lg-6 col-xs-5 pseudoRegister float-left">
            {{ form_row(form.firstname) }}
        </div>
        <div class="form-group col-md-6 col-lg-6 col-xs-5 mailRegister float-right">
            {{ form_row(form.email) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_row(form.password.first) }}
    </div>
    <div class="form-group">
        {{ form_row(form.password.second) }}
    </div>

    <div class="checkbox mb-3">
        <label>
            {{ form_row(form.termsAccepted) }}
        </label>
    </div>

    <div class="signIn-btn col-lg-5 col-md-5 col-xs-6">
        <button type="submit" class="btn btn-outline-primary col-lg-12 col-md-12 col-xs-12">
            Register
        </button>
    </div>
{{ form_end(form) }}


