{% extends 'base.html.twig' %}

{% block title %}Request index{% endblock %}

{% block body %}
    <div class="row">
        <div class="container-fluid" >
            <div class="col-12"><!--tab_admin-->
                <div class="header-post text-center">
                    <div class="col-10 title-center main-title">
                        <h1 class="active">Group</h1>
                    </div>
                    <hr class="col-10 hr">
                </div>
                <div style="
                        flex-wrap: wrap;
                         display: inline-flex;">
                    {% for groupOwned in groupsOwn %}
                    <div class="card text-black-50 bg-light mb-3 card-for-group" style="order: 3;">
                        <div class="card-header text-center">{{ groupOwned.name }}</div>
                        <div class="card-body">
                            <p class="card-text">Group composed by : </p>
                            <ul class="list-group">
                                    <li class="list-notif">
                                        You (Owner)
                                    </li>
                                {% for user in groupOwned.users %}
                                    {% if(user) %}
                                            <li class="list-notif">
                                                {{ user.firstname }} {{ user.lastname }}
                                            </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <a class="btn btn-outline-success float-left" href="">Update</a>
                            <div class="float-right list-group-bottom">
                                {{ include('Front/group/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>

                            {% endfor %}
                    {% for group in groups %}
                        <div class="card text-black-50 bg-light mb-3 card-for-group" style="order: 3;">
                            <div class="card-header text-center">{{ group.name }}</div>
                                <div class="card-body">
                                    <p class="card-text">Group composed by : </p>
                                    <ul class="list-group">
                                        {% if(group.owner == app.user) %}
                                            <li class="list-notif">
                                                You (Owner)
                                            </li>
                                        {% else %}
                                            <li class="list-notif">
                                                {{ group.owner.firstname }} {{ group.owner.lastname }} (Owner)
                                            </li>
                                        {% endif %}
                                        {% for user in group.users %}
                                            {% if(user) %}
                                                {% if(user == app.user) %}
                                                    <li class="list-notif">
                                                        You
                                                    </li>
                                               {% else %}
                                                <li class="list-notif">
                                                    {{ user.firstname }} {{ user.lastname }}
                                                </li>
                                               {% endif %}
                                             {% endif %}
                                        {% endfor %}
                                    </ul>
                                <a class="btn btn-outline-info float-left list-group-bottom" href="{{ path('group_show', {'id': group.id}) }}">See</a>
                                <a class="btn btn-outline-danger float-right list-group-bottom" href="{{ path('group_leave', {'id': group.id}) }}">Leave</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
     </div>

        {% endblock %}
