{% extends 'base.html.twig' %}

{% block title %}Request index{% endblock %}

{% block body %}
<div class="container-fluid" >
    <div class="row">
        <div class="tab_admin" >
            <h1 class="text-center">Groups</h1>
            <div style="
                    flex-wrap: wrap;
                     display: inline-flex;">
                {% for group in groups %}
                        <div class="card text-black-50 bg-light mb-3" style="max-width: 20rem; order: 3;margin:5px;">
                            {% if(group.owner == app.user) %}
                                <div class="card-header">Group that you're owning</div>
                            {% else %}
                                <div class="card-header">Group of {{ group.owner.firstname }} {{ group.owner.lastname }}</div>
                            {% endif %}
                            <div class="card-body">
                                <p class="card-text">Group composed by : </p>
                                <ul>
                                    {% if(group.owner == app.user) %}
                                        <li>
                                           You (Owner)
                                        </li>
                                    {% else %}
                                        <li>
                                            {{ group.owner.firstname }} {{ group.owner.lastname }} (Owner)
                                        </li>
                                    {% endif %}
                                    {% if(group.user1) %}
                                        {% if(group.user1 == app.user) %}
                                            <li>
                                                You
                                            </li>
                                        {% else %}
                                        <li>
                                            {{ group.user1.firstname }} {{ group.user1.lastname }}
                                        </li>
                                        {% endif %}
                                    {% endif %}
                                    {% if(group.user2) %}
                                        {% if(group.user2 == app.user) %}
                                            <li>
                                                You
                                            </li>
                                        {% else %}
                                            <li>
                                                {{ group.user2.firstname }} {{ group.user2.lastname }}
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    {% if(group.user3) %}
                                        {% if(group.user3 == app.user) %}
                                            <li>
                                                You
                                            </li>
                                        {% else %}
                                            <li>
                                                {{ group.user3.firstname }} {{ group.user3.lastname }}
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>

                                <a class="btn btn-warning" href="}">Update</a>
                    {% if(group.owner == app.user) %}
                        {{ include('Front/group/_delete_form.html.twig') }}
                        {% else %}
                            <a class="btn btn-danger" href="">Leave</a>
                {% endif %}
                            </div>
                        </div>
                        {% else %}
                            <p> no request</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}
