{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}
<div class="text-center header-post">
        <div class="col-10 title-center main-title">
            <h1 class="active">Edit {{ group.name }}</h1>
            <div class="m-top-10">
                <a class="btn btn-outline-dark m-bot" href="{{ path('group_me') }}">Back to list</a>
            </div>
        </div>
        <hr class="hr col-lg-10">
    </div>
<div class="container-fluid">
    <div class="row">

            <div class="subscribe_form card" style="margin-top: 5rem; width: 30%; padding-bottom: 2rem;">
                <img src="{{ asset('images/' ~ post.typePost ~ '.png') }}" alt="logo-group" class="logo-group">

                <div class="container">
                    <br>
                    <h2 class="text-center"><b>{{ group.name }}</b></h2>
                    <br>
                    <h4 class="text-center">Informations</h4>

                    <table class="tab_admin text-center">
                        <tr>
                            <th>Username</th>
                            <td>{{ group.username }}</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>{{ group.password }}</td>
                        </tr>
                    </table>
                </div>
            </div>


    {#<table class="tab_admin">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ group.name }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ group.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ group.password }}</td>
            </tr>
        </tbody>
    </table>#}
    </div>
</div>
{% endblock %}
