{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row">
        <div class="tab_admin">
            <h1 class="text-center">Post Administration</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ post.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ post.title }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ post.description }}</td>
                    </tr>
                    <tr>
                        <th>Nb_like</th>
                        <td>{{ post.nbLike }}</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-outline-info" href="{{ path('admin_post_index') }}">Back to list</a>

            <a class="btn btn-outline-warning" href="{{ path('admin_post_edit', {'id': post.id}) }}">Edit</a>

            {{ include('Back/post/_delete_form.html.twig') }}
        </div>
    </div>
</div>


{% endblock %}
