{% extends 'base.html.twig' %}

{% block title %}User List{% endblock %}

{% block body %}
    <h1>User List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Password</th>
                <th>Address</th>
                <th>City</th>
                <th>Show</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password|length > 10 ? user.password|slice(0, 10) ~ '...' : user.password}}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.city }}</td>
                <td>
                    <a class="btn btn-outline-secondary" href="{{ path('back_user_show', {'id': user.id}) }}">Show</a>
                </td>
                <td>
                <a class="btn btn-outline-primary" href="{{ path('back_user_edit', {'id': user.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success align-right" href="{{ path('back_user_new') }}">Create new</a>
{% endblock %}
