<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('icons/foundation-icons.css') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
</head>
{% include 'navigation/navbar.html.twig' %}
<body>
{% block body %}{% endblock %}
&nbsp;
<div class="subscribe_form">
    <div class="col-md-12">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    <strong>{{ label }}</strong> {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% include 'navigation/footer.html.twig' %}
{% block javascripts %}

    {{ encore_entry_script_tags('app') }}

    <script src="{{ asset('js/bootstrap.js"') }}"></script>
{% endblock %}
</body>
</html>