<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('icons/foundation-icons.css') }}" />

        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
</head>
{% include 'navigation/navbar.html.twig' %}
<body>
{% block body %}{% endblock %}
{% include 'navigation/footer.html.twig' %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script src="{{ asset('js/bootstrap.js"') }}"></script>
{% endblock %}
</body>
</html>