{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8 div-center m-top-5">

                <div class="card m-top-5 card-shadow">

                    <div class="card-body">
                        <div class="row">
                            <div class="container-fluid">
                                <h4 class="card-title text-center">{{ post.title }}</h4>
                                <hr>
                                <h6 class="card-subtitle mb-2 text-muted">authored by {{ post.author.firstname }} {{ post.createdAt| date }}</h6>
                                <p class="card-text">{{ post.descritpion }}</p>
                                <p class="d-inline-block primary-color">{{ post.nbLike }}</p>
                                <a class="primary-color" href="#"> J'aime</a>

                            </div>

                        </div>

                        {% if app.user is same as(post.author) %}
                            <div class="row">
                                <div class="container-fluid">
                                    <a class="btn btn-outline-primary m-top-10 pull-left" href="{{ path('post_edit', {'id': post.id}) }}">Edit this post</a>
                                    {{ include('Front/post/_delete_form.html.twig') }}
                                </div>

                            </div>

                        {% endif %}
                    </div>
                </div>

            </div>
            &nbsp;

        </div>

        <div class="row m-top-10">
            <div class="col-md-8 div-center m-top-5">
                <div class="card-grey m-top-5 card-shadow pad-top-10">
                    {% if app.user %}
                        <div>
                            <!-- Trigger the modal with a button -->
                            &nbsp;
                            <div class="float-right margin-top-modal ">
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal">Comment</button>
                            </div>
                            <!-- Modal -->
                            <div class="modal" id="myModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Leave a comment</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {{ include('Front/comment/_form.html.twig') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                    {% endif %}

                    {% for comment in comments %}
                        <div class="card m-bot m-top-10">
                            <div class="card-body">
                                <h4 class="card-title">{{ comment.author.firstname }} {{ comment.author.lastname }}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">{{ comment.createdAt| date }}</h6>
                                <p class="card-text">{{ comment.content }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="card m-bot m-top-10">
                            <p class="text-center">No comments founds</p>
                        </div>
                    {% endfor %}
                    <div class="m-top-5 m-bot">
                        <a class="btn btn-info m-bot" href="{{ path('post_index') }}">Back to list</a>
                        {% if app.user %}
                            <a class="btn btn-outline-danger float-right m-bot" href="{{ path('post_edit', {'id': post.id}) }}">Edit</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}