{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" id="subscribe_form">
                &nbsp;
                    <div class="callout secondary-c">
                        <h5>{{ post.title }}</h5>
                        <p>authored by {{ post.author.firstname }}</p>
                        <p>{{ post.descritpion }}</p>
                        <a class="primary-color" href="#">{{ post.nbLike }} J'aime</a>
                    </div>
                {% if app.user %}
                {{ include('front/comment/_form.html.twig') }}
                {% endif %}
                {% for comment in comments %}
                <div class="card">
                    <p>authored by {{ comment.author.firstname }} at {{ comment.createdAt| date }}</p>
                    <div class="card-body">
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
            </div>
        </div>
    </div>


    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

{% endblock %}
