{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6 subscribe_form">

                <div class="card m-top">

                    <div class="card-body">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">authored by {{ post.author.firstname }} {{ post.createdAt| date }}</h6>
                        <p class="card-text">{{ post.descritpion }}</p>
                        <a href="#" class="card-link primary-color">{{ post.nbLike }} J'aime</a>
                    </div>
                </div>

                {% if app.user %}
                    {{ include('Front/comment/_form.html.twig') }}
                {% endif %}
                {% for comment in comments %}
                    <div class="card m-bot">
                        <div class="card-body">
                            <h4 class="card-title">{{ comment.author.firstname }} {{ comment.author.lastname }}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{ comment.createdAt| date }}</h6>
                            <p class="card-text">{{ comment.content }}</p>
                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                <a class="btn btn-outline-info float-right register" href="{{ path('post_edit', {'id': post.id}) }}">Edit</a>
            </div>

        </div>
    </div>




{% endblock %}
