{% extends 'base.html.twig' %}

{% block title %}Requests{% endblock %}

{% block body %}
<div class="row">
    <div class="container-fluid" >
        <div class="col-12">

            <div class="text-center header-post">
                <div class="col-10 title-center main-title">
                    <h1 class="active">Requests to your accounts</h1>
                    
                </div>
                <hr class="hr col-lg-10">
            </div>

            <div class="col-lg-12 col-l-12">
                {% for request in requests %}
                    {% if request.status == 'PENDING' %}
                        <div class="card mb-3" style="max-width: 20rem;order: 1;margin:5px;">

                            <div class="card-header text-center">REQUEST ({{ request.status }})</div>
                            <div class="card-body text-center">
                                <p class="card-text m-bot-10">{{ request.applicant.firstname }} {{ request.applicant.lastname }}
                                    wants to integrate your group from the post : "{{ request.post.title }}"</p>

                                {% if request.status == 'PENDING' %}
                                    <a class="btn btn-outline-success float-left m-top-10" href="{{ path('request_accept', {'id': request.id}) }}">accept</a>
                                    <a class="btn btn-outline-secondary float-right m-top-10" href="{{ path('request_reject', {'id': request.id}) }}">reject</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if requests is empty %}
                    <p class="text-center"> no request</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
